<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
    </head>
    <body>
        @RenderPage("~/Layout/_Header.cshtml")
        @RenderBody()
        @RenderPage("~/Layout/_Footer.cshtml")
    </body>
</html>
