@{
    Layout = "/Layout/_LandingPage.cshtml";
}

    <div id="home">

        <div class="landing-page">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="#">Full Landing Page</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#maps">Maps</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#list">List</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#gallery">Gallery</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#loginregist">Login/Regist</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
            <div class="page-content">
                <h1>Full Landing Page</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                <a href="#maps">Get Started</a>
            </div>
        </div>
        
    </div>

            <div id="maps">
                <div class="break"></div>
                <div class="content">
                    <h3>My Google Maps</h3>
                    <div class="Google_Maps">
                        <div class="gmap_canvas"><iframe width="500" height="470" id="gmap_canvas" src="https://maps.google.com/maps?q=&t=&z=9&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                    </div>
                </div>
            </div>

            <div id="list">
                <div class="break"></div>
                <div class="content">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">Project One</a>
                                    </h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">Project Two</a>
                                    </h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">Project Three</a>
                                    </h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">Project Four</a>
                                    </h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">Project Five</a>
                                    </h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-4">
                            <div class="card h-100">
                                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">Project Six</a>
                                    </h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                    <!-- Pagination -->
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#list">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#list">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#list">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="gallery">

            </div>

            <div id="loginregist">
                <div class="break"></div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-6 login-form-1">
                            <h3>Inloggen</h3>
                            <form method="post">
                                <div class="form-group">
                                    <input name="mailadres" type="text" class="form-control" placeholder="E-mailadres*" value="@Request.QueryString["mailadres"]" />
                                </div>
                                <div class="form-group">
                                    <input name="wachtwoord" type="password" class="form-control" placeholder="Wachtwoord*" value="@Request.QueryString["wachtwoord"]" />
                                </div>
                                <div class="form-group" align="center">
                                    <input type="submit" class="btnSubmit" value="Inloggen" name="inlog" />
                                </div>
                                <div class="form-group" align="center">
                                    <a href="#" class="btnForgetPwd">Wachtwoord vergeten?</a>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 login-form-2">
                            <h3>Registreren</h3>
                            <form method="post">
                                <div class="form-group">
                                    <input name="naam" type="text" class="form-control" placeholder="Naam*" value="@Request.Form["naam"]" />
                                </div>
                                <div class="form-group">
                                    <input name="gebruikersnaam" type="text" class="form-control" placeholder="Gebruikersnaam*" value="@Request.Form["gebruikersnaam"]" />
                                </div>
                                <div class="form-group">
                                    <input name="mailadres" type="text" class="form-control" placeholder="E-mailadres*" value="@Request.Form["mailadres"]" />
                                </div>
                                <div class="form-group">
                                    <input name="wachtwoord" type="password" class="form-control" placeholder="Wachtwoord*" value="@Request.Form["wachtwoord"]" />
                                </div>
                                <div class="form-group" align="center">
                                    <input name="regist" type="submit" class="btnSubmit" value="Registreren" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <a class="gotupbtn" href="#"><i class="fas fa-chevron-up"></i></a>

