@using WebMatrix.Data
@{
    Layout = "~/Layout/_LayoutLandingPage.cshtml";
    Page.Title = "Homepage";

    var naam = "";
    var gebruikersnaam = "";
    string mailadres = "";
    string wachtwoord = "";


    if (Request.Form["inlog"] != null)
    {
        mailadres = Request.Form["mailadres"];
        wachtwoord = Request.Form["wachtwoord"];
        string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\....mdf;Integrated Security=True"; //HIEROVER VRAGEN
        string provider = "System.Data.SqlClient";
        Database db = Database.OpenConnectionString(connectionString, provider);
        //Hieronder geef je aan dat apestaartje 0 mailadres is
        var query = db.QuerySingle("SELECT Wachtwoord, Registratie_Id FROM ... WHERE Mailadres=@0", mailadres);
        if (query.Wachtwoord == wachtwoord)
        {
            Session["ID"] = query.Registratie_Id;
            Response.Redirect("~/#");
        }
        else
        {

        }
        db.Close();
    }
    if (Request.Form["regist"] != null)
    {
        naam = Request.Form["naam"];
        gebruikersnaam = Request.Form["gebruikersnaam"];
        mailadres = Request.Form["mailadres"];
        wachtwoord = Request.Form["wachtwoord"];
        string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\....mdf;Integrated Security=True";
        string provider = "System.Data.SqlClient";
        Database db = Database.OpenConnectionString(connectionString, provider);
        var insertCommand = "INSERT INTO ... (naam, gebruikersnaam, mailadres, wachtwoord) VALUES(@0, @1, @2, @3)";
        db.Execute(insertCommand, naam, gebruikersnaam, mailadres, wachtwoord);
        Response.Redirect("~/#");
    }
}


<div id="home">
    <div class="landerimage">
        <img src="~/Image/wp2520498.jpg" />
    </div>
    </div>
<div id="maps">
    <br />
    <div class="mapouter">
        <div class="gmap_canvas"><iframe width="500" height="470" id="gmap_canvas" src="https://maps.google.com/maps?q=&t=&z=9&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
    
    </div>
    <br />
</div>

<div id="list" class="container">
    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Project One</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Project Two</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Project Three</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Project Four</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Project Five</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Project Six</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#list">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#list">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#list">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>

<div id="gallery">

</div>

<div id="loginregist">
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>Inloggen</h3>
                <form method="post">
                    <div class="form-group">
                        <input name="mailadres" type="text" class="form-control" placeholder="E-mailadres *" value="@Request.QueryString["mailadres"]" />
                    </div>
                    <div class="form-group">
                        <input name="wachtwoord" type="password" class="form-control" placeholder="Wachtwoord *" value="@Request.QueryString["wachtwoord"]" />
                    </div>
                    <div class="form-group" align="center">
                        <input type="submit" class="btnSubmit" value="Inloggen" name="inlog" />
                    </div>
                    <div class="form-group" align="center">
                        <a href="#" class="btnForgetPwd">Wachtwoord vergeten?</a>
                    </div>                
                </form>
            </div>
            <div class="col-md-6 login-form-2">
                <h3>Registreren</h3>
                <form method="post">
                    <div class="form-group">
                        <input name="naam" type="text" class="form-control" placeholder="Naam*" value="@Request.Form["naam"]" />
                    </div>
                    <div class="form-group">
                        <input name="gebruikersnaam" type="text" class="form-control" placeholder="Gebruikersnaam*" value="@Request.Form["gebruikersnaam"]" />
                    </div>
                    <div class="form-group">
                        <input name="mailadres" type="text" class="form-control" placeholder="E-mailadres*" value="@Request.Form["mailadres"]" />
                    </div>
                    <div class="form-group">
                        <input name="wachtwoord" type="password" class="form-control" placeholder="Wachtwoord*" value="@Request.Form["wachtwoord"]" />
                    </div>
                    <div class="form-group" align="center">
                        <input name="regist" type="submit" class="btnSubmit" value="Registreren" />
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>
